*{
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*------------------------- HEADER --------------------------------------*/


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(126, 217, 87);
    height: 80px;
}

.divnav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: right;
}

.correctlink{
    text-decoration: none;
    margin-left: 40px;
    margin-top: auto;
    color: black;
    margin-bottom: auto;
}

.correctlink:hover{
    color: rgb(255, 255, 255);
    border-top-style: solid;
    border-color: rgb(255, 255, 255);
    padding-top: 15px;
    margin-top: -10px;
}

.fa-user {
    background-color: rgb(255, 255, 255);
    padding: 13px 16px 13px 16px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -8px;
    color: rgb(0, 0, 0);
}

.barre_titre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

#barre{
    font-size: 30px;
}

h3{
    font-size: 35px;
}


/*------------------------- LOGIN --------------------------------------*/

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

.zone{
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 20px;
    width: 350px;
    border: rgb(126, 217, 87) solid 1px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(181, 174, 174, 0.901);
    color: rgb(0, 0, 0);
}

.button{
    width: 100px;
    height: 50px;
    background: rgb(126, 217, 87);
    border: rgb(126, 217, 87) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: white;
}

.reglink{
    text-decoration: none;
    color: rgb(126, 217, 87);
    margin-left: 10px;
}

.connexion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.block_form{
    border: rgb(126, 217, 87) solid 2px;
    border-radius: 5px;
    height: 500px;
    width: 450px;
}

.block_logo{
    display: flex;
    align-items: center;
}

img{
    height: 504px;
}

.total{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 40px;
}

form{
    margin-top: 30px;
}

form div{
    margin-top: 20px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(126, 217, 87);
    bottom: 40px;
    right: 50px;
    opacity: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}


/*------------------------- COLOR --------------------------------------*/

.color_orange {
    color: orange;
}

.color_gray {
    color: rgb(168, 167, 167);
}

.button_dl {
    background-color: orange;
    width: 35%;
    margin-bottom: -1%;
}

.align {
    display: flex;
    align-items: center;
}